/* hier begint de css voor algemeen */
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

/* bron voor overflow hidden: https://stackoverflow.com/questions/32500876/how-to-prevent-white-space-bounce-after-scrolling-to-the-top-of-the-page-and-t */
html {
  overflow: hidden;
  height: 100%;
}

/* bron voor overscroll-behavior: https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior */
body {
  width: 100%;
  margin: 0;
  background-color: rgb(255, 255, 255);
  overflow: auto;
  height: 100%;
  overscroll-behavior: none;
}

header,
main,
footer {
  margin: 0 auto;
}

/* hier begint de css voor de header */
header {
  min-height: 80px;
}

header h1 {
  margin: 1rem auto;
  width: 90vw;
}

/* hier begint de css voor de navs */
nav {
  margin-bottom: 2rem;
  flex-wrap: wrap;
  min-height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color: rgb(13, 150, 243);
  box-shadow: inset 0px -40px 54px -15px rgb(0, 60, 255),
    0px 11px 100px -13px rgba(255, 255, 255, 0.6);
}

nav ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.2rem;
}

nav li {
  display: inline;
  margin: 1.5rem;
}

nav a {
  margin: auto;
  padding: 1rem;
  text-decoration: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  transition-property: padding, background-color, color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

nav a:hover {
  color: rgb(251, 203, 63);
  background-color: rgb(13, 150, 243);
  box-shadow: inset 0px -40px 54px -15px rgb(0, 60, 255),
    0px 11px 100px -13px rgba(255, 255, 255, 0.6);
  text-decoration: underline;
  padding: 1rem;
  border-radius: 5px;
}

nav img {
  height: 50px;
  margin: 0.5rem 1rem;
}

main section:first-of-type {
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 1rem;
  margin: 0 2rem;
  border-radius: 5px;
  background-color: rgb(13, 150, 243);
  box-shadow: inset 0px -40px 54px -15px rgb(0, 60, 255),
    0px 11px 100px -13px rgba(255, 255, 255, 0.6);
}

main section:first-of-type li {
  line-height: 1rem;
  margin-left: 1rem;
}

main section:first-of-type a {
  color: rgb(255, 255, 255);
  display: flex;
  border-radius: 5px;
  padding: 0.4rem;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-property: background-color, padding;
  transition-timing-function: linear;
}

main section:first-of-type a:hover {
  color: rgb(251, 203, 63);
  text-decoration: underline;
  box-shadow: inset 0px -40px 54px -15px rgb(0, 60, 255),
    0px 11px 100px -13px rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}

/* hier begint de css voor de main */
main {
  width: 90vw;
}

h1,
h2,
h3,
p {
  margin-bottom: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

abbr {
  color: rgb(21, 21, 156);
  font-style: italic;
}


ul {
  margin-left: 2rem;
  line-height: 1.4rem;
}

section {
  margin: 1rem 0;
  padding-top: 1rem;
}

section p {
  margin: 1rem 0;
}

main section:last-child {
  margin-bottom: 2rem;
}

main img {
  object-fit: contain;
  margin: 0 auto;
  padding: 1rem;
  min-width: 8rem;
  max-width: 10rem;
  height: auto;
}

video {
margin: 0 auto;
  width: 90vw;

}

a {
  color: rgb(13, 150, 243);
  text-decoration: none;
}

a:hover {
  color: rgb(21, 21, 156);
  text-decoration: underline;
}

#top {
  display: flex;
  margin-bottom: 1rem;
}

.foto {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.groot {
  max-width: 100%;
  height: auto;
}

/* hier begint de css voor de footer */
footer {
  background-color: rgb(13, 150, 243);
  /* boxshadow te krijgen op de manier dat ik wilde. bron: https://box-shadow.dev/ */
  box-shadow: inset 0px -40px 54px -15px rgb(0, 60, 255),
    0px 11px 100px -13px rgba(255, 255, 255, 0.6);
}

footer p,
footer a {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  padding: 2rem;
}

footer a:hover {
  color: rgb(251, 203, 63);
}

/* hier begint de css voor media queries */
@media (min-width:900px) and (max-width: 1024px) {
  video {
    display: flex;
    justify-content: center;
    max-width: 90%;
  }
  }

@media (max-width:600px) {
  h1 {
    animation: blackandyellow 2s linear infinite;
  }

  @keyframes blackandyellow {
    0% {
      color: rgb(0, 0, 0)
    }
    50% {
      color: rgb(251, 203, 63);
    }
    100% {
      color: rgb(0, 0, 0)
    }
  }
}

@media (min-width: 1024px) {
  .groot {
    max-width: 45vw;
  }

  video {
    display: flex;
    justify-content: center;
    max-width: 75%;
  }
}
